@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');

* {
  /* border: 1px solid gold; */
  background-color: #fffff1;
  font-family: 'Niconne', cursive;
  font-size: 1rem;
}

body > h1 {
  background-image: url("https://cdn.pixabay.com/photo/2013/07/13/12/05/army-159125_1280.png");
  font-size: 5em;
  text-align: center;
  color: white;
}

/*Go Fish Modal */
.modal {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 1px solid black;
  z-index: 1;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.modal-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 50vh;
  border-radius: 5px;
  box-shadow:-4px 4px 5px rgba(0, 0, 0, 0.7);
}

.modal-boxSub {
  display: flex;
  justify-content: space-between;
}

#goFishModalOptions > button {
  margin: 1%
}

/*Select Deck Modal */
#modal {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

#modal-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 50vh;
  border-radius: 5px;
  box-shadow:-4px 4px 5px rgba(0, 0, 0, 0.7);
}

#modal-box > button, #goFishModalOptions > button {
  width: 10vw;
  align-self: center;
  margin-bottom: 2%;
  border-radius: 100px;
  background-color: inherit;
}

#modal-box > h2 {
  background-color: inherit;
  font-size: 2rem;
}

#carouselContainer {
  display: flex;
  background-color: inherit;
}

#carouselContainer > button {
  width: 5vh;
  height: 5vh;
  align-self: center;
  margin: 5%;
  border-radius: 100px;
  background-color: inherit;
}

#carousel-images {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
  /* border: 5px solid green; */
  background-color: inherit;
}

#previous, #next {
  height: 10vh
}

#carousel-images img:first-of-type {
  display: block;
}

#carousel-images img {
  display: none;
}

.carouselImages {
  width: 100%;
  background-color: inherit;
  width:100%;
  height:100%;
}

/*askForModal*/
#askForModal {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

#askForModal-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 95vw;
  border-radius: 5px;
  box-shadow:-4px 4px 5px rgba(0, 0, 0, 0.7);
}

#askForOptions {
  width: 95%;
  display: flex;
  overflow: auto;
  overflow-y: hidden;
  justify-content: space-around;
}

#askForOptions > img {
  width:10%;
  height: auto;
  margin: 1%
}


.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
}

.container {
  /* border: 1px solid black; */
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95vw;
  height: 25vh;
  flex-wrap: wrap;
  overflow: auto;
  overflow-x: hidden;
}

#reset {
  border-radius: 50px
}

.cardBackShuffle {
  width: 25%;
  align-self: center;
  animation: shuffle;
  animation-duration: 1s;
}

@keyframes shuffle {
    0% {transform: rotate(10deg);}
    5% {transform: rotate(-10deg);}
   10% {transform: rotate(5deg);}
   15% {transform: rotate(-5deg);}
   20% {transform: rotate(10deg);}
   25% {transform: rotate(-10deg);}
   30% {transform: rotate(5deg);}
   35% {transform: rotate(-5deg);}
   40% {transform: rotate(10deg);}
   45% {transform: rotate(-10deg);}
   50% {transform: rotate(5deg);}
   55% {transform: rotate(-5deg);}
   60% {transform: rotate(10deg);}
   65% {transform: rotate(-10deg);}
   70% {transform: rotate(5deg);}
   75% {transform: rotate(-5deg);}
   80% {transform: rotate(10deg);}
   85% {transform: rotate(-10deg);}
   90% {transform: rotate(5deg);}
   95% {transform: rotate(-5deg);}
  100% {transform: rotate(10deg);}
}

.button {
  width: 10vw;
  align-self: center;
  margin: 5%;
  text-align: center;
  border-radius: 100px;
}

#openModal {
  width: 10vw;
  align-items: center;
  border-radius: 100px;
}

#battlefield {
  display: none;
  justify-content: space-between;
}

#userWar, #computerWar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5%;
  width: 25vw;
  height: auto;
}

#userWar > h2, #computerWar >h2 {
  color: white;
  font-size: 2rem;
}

#war{
  display: none;
  margin: 1%;
}

#nextRound {
  display: none;
  border-radius: 100px;
}

.card {
  height: 85%;
  width: auto;
  margin: 1%
}

.cardDiscard {
  display:flex;
  width: 100%;
  height: 100%;
}

#cardBack {
  width:25%;
  align-self: center;
  margin: 1%;
}

.pileContainer {
  display: flex;
  height: 25%;
  justify-content: space-between;
  align-items: center;
}

#center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25%;
  /* border: 10px solid black; */
}

#buttons {
  display: flex;
  justify-content: center;
  /* margin: 1%; */
}

#cardzz {
  display: flex;
  justify-content: center;

}

#discardPile {
  display: none;
  flex-direction: column;
  width: 25%;
  height: 100%;
  align-self: center;
}

#discardPileSub {
  display: flex;
  align-self: center;
  margin: 1%;
  overflow: auto;
}

#discardPileTitle {
  text-align: center;
}

@media (max-width: 700px) {
  .card {
    width: 20%;
  }
}
